$start: 1;

.team-list {
  .list-item {
    background-color: $white;
    padding: 0;

    @while $start < 16 {
      &.has-depth-#{$start} {
        .column:first-of-type {
          margin-left: #{$start}rem;
        }
      }
      $start: $start + 1;
    }
  }

  .has-children {
    padding: 0;
  }

  .nested-list {
    &.is-root {
      // margin-bottom: 1.5rem;
      box-shadow: $box-shadow;

      .nested-list {
        .list-item {
          background-color: #f9f9f9;
        }
      }
    }
    
    .list-item {
      padding: 1.25rem;
    }
  }
}