@import 'colours';
@import '~bulma/sass/utilities/all';

$body-size: 12px;
$input-border-color: rgba(0,0,0,.08);
$body-background-color: $background;
$radius-large: 4px;
$radius: 2px;
$box-shadow: 0 0 1px 0 rgba(10,10,10,.1), 0 1px 0 0 rgb(231, 236, 242);

html {
  min-height: calc(100vh - 3.5rem);
}

#app {
  padding-top: 3.5rem;
}

// Import these after variables
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import 'navbar';
@import 'input';
@import 'svg';
@import 'avatar';
@import 'spacing';
@import 'form';
@import 'menu';